{% extends 'base.html'%}

{% block centre %}


   
        
          <div class="groupe3">
            
            <div class="container1">
               
                <div class="boutonvert">
                    <h1><a href="/index4/">ajouter</a></h1>
                </div>
               
                <div class="container">
                    <h2>liste des magasins</h2>
                <table border="2">
                    <tr>
                        <td class="id">ID</td>
                        <td>NOM</td>
                        <td>ADRESSE</td>
                        <td>TELEPHONE</td>
                        <td>MAIL</td>
                        <td class="action">ACTION</td>
                    </tr>
                    <tr>
                        <td class="id">1</td>
                        <td>magasin 1</td>
                        <td>adresse 1</td>
                        <td>telephone 1</td>
                        <td>E-mail 1</td>
                        <td>
                           <button class="jaune"><a href="">modifier</a></button>
                           <button class="rouge"><a href="">supprimer</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="id">2</td>
                        <td>magasin 2</td>
                        <td>adresse 2</td>
                        <td>telephone 2</td>
                        <td>E-mail 2</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="/supprime/">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">3</td>
                        <td>magasin 3</td>
                        <td>adresse 3</td>
                        <td>telephone 3</td>
                        <td>E-mail 3</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">4</td>
                        <td>magasin 4</td>
                        <td>adresse 4</td>
                        <td>telephone 4</td>
                        <td>E-mail 4</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">5</td>
                        <td>magasin 5</td>
                        <td>adresse 5</td>
                        <td>telephone 5</td>
                        <td>E-mail 5</td>
                        <td>
                            <button class="jaune"><a href="/modifier/">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">6</td>
                        <td>magasin 6</td>
                        <td>adresse 6</td>
                        <td>telephone 6</td>
                        <td>E-mail 6</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">7</td>
                        <td>magasin 7</td>
                        <td>adresse 7</td>
                        <td>telephone 7</td>
                        <td>E-mail 7</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                </table> 

                </div>
           </div>
         </div>
       

    {% endblock  %}
