<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
    <title>liste de produit</title>
</head>
<body>
    <header class="main">
     <h1>ZORO</h1>
    </header>
    <section class="groupe">
        <div class="groupe1">
            <div class="groupe2">
                <div class="one un"><a href="/index3/">Magasin</a></div>
                <div class="two un"><a href="/produit/">Produit</a></div>
                <div class="three un"><a href="">Ventes</a></div>
                <div class="four un"><a href="">Stock</a></div>
                <div class="five un"><a href="/">Deconnexion</a></div>

            </div>
        </div>
        <div class="groupe3">
            
            <div class="container1">
               
                <div class="boutonvert">
                    <h1><a href="/ajouterproduit/">ajouter</a></h1>
                </div>
               
                <div class="container">
                    <h2>liste des produits</h2>
                <table border="2">
                    <tr>
                        <td class="id">ID</td>
                        <td>NOM</td>
                        <td>CATEGORIE</td>
                        <td>PRIX</td>
                      
                        <td class="action">ACTION</td>
                    </tr>
                    <tr>
                        <td class="id">1</td>
                        <td>produit 1</td>
                        <td>categorie 1</td>
                        <td>prix 1</td>
                       
                        <td>
                           <button class="jaune"><a href="">modifier</a></button>
                           <button class="rouge"><a href="">supprimer</a></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="id">2</td>
                        <td>produit 2</td>
                        <td>categorie 2</td>
                        <td>prix 2</td>
                       
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="/supprime/">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                        <td>
                            <button class="jaune"><a href="/modproduit/">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">6</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">7</td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                </table> 

            </div>
        </div>
    </div>
    </section>
</body>
</html