<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
    <title>Document3</title>
</head>
<body>
    <header class="main">
     <h1>ZORO</h1>
    </header>
    <section class="groupe">
        <div class="groupe1">
            <div class="groupe2">
                <div class="one un"><a href="/index3/">Magasin</a></div>
                <div class="two un"><a href="/produit/">Produit</a></div>
                <div class="three un"><a href="">Ventes</a></div>
                <div class="four un"><a href="">Stock</a></div>
                <div class="five un"><a href="/">Deconnexion</a></div>

            </div>
        </div>
        <div class="groupe3">
            
            
            <div class="container1">
               
               <div class="container">
               
                  <div class="sum">
                        <div class="el">
                           <div class="suppr">
                                <h1>suppression de magasin</h1>
                           </div>
                           <div class="supp">
                                <h2>Vous êtes sur le point de supprimer le magasin n°2.Êtes-vous</h2>
                                <h2> sûr de vouloir continuer ?</h2>
                           </div>    
                        </div>

                             <div class="gd">
                             <button class="gauche" type="submit"><a href="/index3/">RETOUR</a></button>
                             <button class="droit" type="submit"><a href="/dernier/">VALIDER</button>
                            </div>
                       
                 </div>
                    
                
                

            </div>
        </div>
    </div>
    </section>
</body>
</html