<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
    <title>Document5</title>
</head>
<body>
    <header class="main">
     <h1>ZORO</h1>
    </header>
    <section class="groupe">
        <div class="groupe1">
            <div class="groupe2">
                <div class="one un"><a href="/index3/">Magasin</a></div>
                <div class="two un"><a href="/produit/">Produit</a></div>
                <div class="three un"><a href="">Ventes</a></div>
                <div class="four un"><a href="">Stock</a></div>
                <div class="five un"><a href="/">Deconnexion</a></div>

            </div>
        </div>
        <div class="groupe3">
            
            <div class="container1">
               
                <div class="boutonvert">
                    <h1><a href="/index4/">ajouter</a></h1>
                </div>
               
                <div class="container">
                    <h2>le magasin numero 5 été enregistré avec succès</h2>
                <table border="2">
                    <tr>
                        <td class="id">ID</td>
                        <td>titre</td>
                        <td>texte</td>
                        <td>sous categorie</td>
                        <td>date</td>
                        <td class="action">ACTION</td>
                    </tr>
                    <tr>
                        <td class="id">1</td>
                        <td>magasin1</td>
                        <td>adresse1</td>
                        <td>telephone1</td>
                        <td>E-mail1</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                        
                    </tr>
                    <tr>
                        <td class="id">2</td>
                        <td>magasin2</td>
                        <td>adresse2</td>
                        <td>telephone2</td>
                        <td>E-mail2</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">3</td>
                        <td>magasin3</td>
                        <td>adresse3</td>
                        <td>telephone3</td>
                        <td>E-mail3</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">4</td>
                        <td>magasin4</td>
                        <td>adresse4</td>
                        <td>telephone4</td>
                        <td>E-mail4</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    
                        <tr class="idd">
                          <td class="id">5</td>
                          <td>magasin5</td>
                          <td>adresse5</td>
                          <td>telephone M</td>
                          <td>E-mail5</td>
                             <td>
                             <button class="jaune"><a href="">modifier</a></button>
                             <button class="rouge"><a href="">supprimer</a></button>
                          </td>
                        </tr>
                    <tr>
                        <td class="id">6</td>
                        <td>magasin6</td>
                        <td>adresse6</td>
                        <td>telephone6</td>
                        <td>E-mail6</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">7</td>
                        <td>magasin7</td>
                        <td>adresse7</td>
                        <td>telephone7</td>
                        <td>E-mail7</td> <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                    <tr>
                        <td class="id">8</td>
                        <td>magasin8</td>
                        <td>adresse8</td>
                        <td>telephone8</td>
                        <td>E-mail8</td>
                        <td>
                            <button class="jaune"><a href="">modifier</a></button>
                            <button class="rouge"><a href="">supprimer</a></button>
                         </td>
                    </tr>
                </table> 

            </div>
        </div>
    </div>
    </section>
</body>
</html